<?xml version="1.0" encoding="utf-8"?>
<!-- Manifest file -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.seikei.judo.genki.takami.theminutesapp">

    <!-- アプリケーション -->
    <application
        android:name=".RealmDatabase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 議事録リスト -->
        <activity
            android:name=".MinuteList"
            android:label="議事録リスト"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- フォルダーリスト -->
        <activity
            android:name=".FolderList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 出席者の登録 -->
        <activity
            android:name=".MemberAdd"
            android:label="出席者の登録"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- 会議場所の登録 -->
        <activity
            android:name=".PlaceAdd"
            android:label="会議場所の登録"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- 設定 -->
        <activity
            android:name=".Setting"
            android:label="登録設定"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- 議事録の追加と編集 -->
        <activity
            android:name=".MinuteAdd"
            android:label="議事録の追加・編集"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- フォルダーの追加 -->
        <activity
            android:name=".FolderAdd"
            android:label="議事録フォルダの追加"
            android:parentActivityName=".FolderList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <!-- タイムゾーン設定 -->
        <receiver
            android:name=".TimezoneBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>